.dropdown-toggle::after {
    display: none !important; 
}
.dropdown-menu{
  padding: 0 !important;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}